body {
    text-align: center;
    background-color: cornflowerblue;
    color: antiquewhite;
    -webkit-text-stroke: 0.4px black;
    font-family: 'Pokemon Solid', sans-serif;
                                         
}

#pokemonName{
    border: solid 2px red;
}

.pokeContainer {
    width: 100%;
    display: flex;
    margin: 0 auto;
    padding: 0 auto;
}
.pokeImg {
    margin: 0 auto;
    padding: 0 auto;
    height: 150px;
    width: 100%;
}
#pokemonSprite {
    margin: 0 auto;
    height: 150%;
}

#pokeName {
    font-size: 30px;
}

p {
    width: 25%;
    font-size: 20px;
    margin: 0 auto;
    padding: 0 auto;
}

p:hover {
    border: solid 1px black;
    background-color: red;
}